
	div.wrapper {
        width: 100%;
        margin: 0px;
        border: 1px solid gray;
        line-height: 150%;
    }

    div.header, div.footer {
        padding: 2em;
        color: white;
        background-color: black;
        clear: left;
        text-align: left;
		font-family: 'Permanent Marker', cursive;
		
    }

	a:hover {
		color: #fc6a6a;	
		padding: none;
		
	}
	
	
	div.nav{
		text-align: right;
		padding: 0;
        margin: 0;
		color: white;
		
	}
	
	.task2 {
		color: white;
		
	}

    div.content {
        padding: 1em;
		font-size: 25px;
        text-align: center;
        height: 600px;
		font-family: 'PT Sans Caption', sans-serif;
		
		
    }
	.clock{
		width: 280px;
		height: 200px;
		
	}
	
	  
	a:link {
		text-decoration: none;
		color: black;
		
	}
	
	a:visited {
		text-decoration:none;
		
	}

	a:hover {
		color: pink;
		
	}
	
	.task {
		border-collapse: collapse;
		text-align: center;
		
	}
	
	.projects {
		border-collapse: collapse;
		text-align: center;
		
	}