
	div.wrapper {
        width: 100%;
        margin: 0px;
        border: 1px solid gray;
        line-height: 150%;
		
		
    }

    div.header, div.footer {
        padding: 2em;
        color: white;
        background-color: black;
        clear: center;
        text-align: center;
		font-family: 'Permanent Marker', cursive;
    }


    div.content {
        padding: 1em;
		font-size: 30px;
        text-align: center;
        height: 600px;
		font-family: 'Pacifico', cursive;
		
    }
	

	
	a:link, a:visited {
		background-color: black;
		color: white;
		text-align: center; 
		text-decoration: none;
	}
	a:hover, a:active {
	background-color: #fc6a6a;
	}

